.header {
    border-bottom: 1px solid #dee2e680!important;
}
.btn-profile {
    border-radius: 9999px;
    border: 1;
}
.btn-add {
    border-radius: 6px;
    border: 1px solid #dee2e680!important;
    transition: 0.1s;
}
.btn-add:hover {
    background-color: rgba(0, 255, 0, 0.15);
    transition: 0.1s;
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #2bc96d 74%);
}
.btn-add:active > svg {
    transform: rotate(180deg);
}
.img-block {
    object-fit:contain;
}
.image-card {
    border-radius: 6px;
    overflow: hidden;
    transition: 0.5s;
    background-color: rgba(0,0,0,0);
}
.image-card:hover {
    filter: brightness(0.8);
    transition: 0.1s;
    transform: scale(1.1);
    z-index: 999;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.img-block:active {
    transform: scale(0.9);
    transition: 0.1s;
}
.image-card:hover > .btn-remove, .image-card:hover > .btn-inform {
    visibility: visible;
    opacity: 1;
}
.btn-remove,  .btn-inform{
    width: 32px !important;
    height: 32px !important;
    margin-left: calc(100% - 36px);
    margin-top: calc(100% - 36px);
    border-radius: 6px;
    transition: 0.2s;
    line-height: 1.6;
    opacity: 0;
    visibility: hidden;
}
.btn-inform {
    margin-left: 4px;
}
.btn-remove:hover, .btn-inform:hover {
    margin-top: calc(100% - 38px);
    transition: 0.1s;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.modal-content-add {
    border-radius: 6px;
}
#btn-logout-img {
    margin-bottom: 4px;
}
#btn-logout {
    color: gray;
}
#btn-logout:hover > #btn-logout-img {
    color: #dc3545;
}
.nav-tabs {
    border-bottom-color: rgba(222, 226, 230, 0.5);
}
.nav-tabs .nav-link:hover {
    border-color: #e9ecef80 #e9ecef80 #dee2e680;
}