{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/all.js' %}"></script>
<div class="container mt-5">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-1 align-items-center" id="images-container">

        {% for image in images %}
        <div class="col" id="block-image-{{ image.id }}">
            <div class="card image-card ratio ratio-1x1" id="image-card-{{ image.id }}">
                <img src="{{ image.url }}" class="img-block" id="{{ image.id }}" alt="...">
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}