{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.5.2.0.b1.min.css' %}">
    <title>QuickTures</title>
</head>
<body class="bg-light">
    <!-- Content -->
    <div class="container">
        <!-- Header -->
        <div class="row align-items-center g-0 header py-1">
            <!-- Title -->
            <div 
            class="col-8 offset-2 text-center display-6" 
            style="color: #4D7A0B;">
                QuickTures
            </div>
            <!-- lightSwitch -->
            <div class="offset-1 col-1 p-0 text-center form-check form-switch">
                <input 
                class="form-check-input" 
                type="checkbox" 
                id="lightSwitch" />
            </div>
        </div>
        
        <!-- Login & Sign Up froms -->
        <div class="container">
            <div class="row">
                <!-- Tabs navigate -->
                <ul class="nav nav-tabs justify-content-center pt-2" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button 
                        class="nav-link {% if not register_form.password1.errors and not register_form.password2.errors and not register_form.username.errors %}active{% endif %}" 
                        id="login-tab" 
                        data-bs-toggle="tab" 
                        data-bs-target="#login" 
                        type="button" 
                        role="tab" 
                        aria-controls="login" 
                        aria-selected="true">
                            Log In
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button 
                        class="nav-link {% if register_form.password2.errors or register_form.username.errors %}active{% endif %}" id="signup-tab" 
                        data-bs-toggle="tab" 
                        data-bs-target="#signup" 
                        type="button" 
                        role="tab" 
                        aria-controls="signup" 
                        aria-selected="false">
                            Sign Up
                        </button>
                    </li>
                </ul>
                <!-- Login & Sign Up tabs -->
                <div class="tab-content" id="myTabContent">
                    <!-- Login tab -->
                    <div 
                    class="col col-sm-8 col-md-6 col-lg-4 mx-auto tab-pane fade {% if not register_form.password1.errors and not register_form.password2.errors and not register_form.username.errors %}show active{% endif %}" 
                    id="login" 
                    role="tabpanel" 
                    aria-labelledby="login">
                        <form 
                        id="login-form" 
                        class="row justify-content-center my-3" 
                        action="" 
                        method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input 
                                type="text" 
                                placeholder="Username" 
                                class="form-control {% if login_form.errors %}is-invalid{% endif %}" 
                                aria-describedby="login" 
                                autocapitalize="none" 
                                autocomplete="username" 
                                autofocus="" 
                                id="id_username" 
                                maxlength="150" 
                                name="username" 
                                required="" />
                            </div>
                    
                            <div class="mb-3">
                                <input 
                                class="form-control {% if login_form.errors %}is-invalid{% endif %}" 
                                placeholder="Password" 
                                autocomplete="current-password" 
                                id="id_password" 
                                name="password" 
                                required="" 
                                type="password" />
                                <div class="invalid-feedback">
                                    {{ login_form.non_field_errors }}
                                </div>
                            </div>
                            
                            <input 
                            class="btn btn-primary my-auto" 
                            style="width: 100px;" 
                            id="login-btn" 
                            type="submit" 
                            name="submit" 
                            value="Log In" />
                        </form>
                    </div>
                    <!-- Sign Up tab -->
                    <div 
                    class="col col-sm-8 col-md-6 col-lg-4 mx-auto tab-pane fade {% if register_form.password2.errors or register_form.username.errors %}show active{% endif %}" 
                    id="signup" 
                    role="tabpanel" 
                    aria-labelledby="signup">
                        <form 
                        id="register-form" 
                        class="row justify-content-center my-3" 
                        action="" 
                        method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input 
                                type="text" 
                                placeholder="Username" 
                                class="form-control {% if register_form.username.errors %}is-invalid{% endif %}" 
                                aria-describedby="login" 
                                autocapitalize="none" 
                                autocomplete="username" 
                                autofocus="" 
                                id="id_username" 
                                maxlength="150" 
                                name="username" 
                                required="" />
                                <div class="invalid-feedback">
                                    {{ register_form.username.errors }}
                                </div>
                            </div>
        
                            <div class="mb-3">
                                <input 
                                class="form-control {% if register_form.password2.errors %}is-invalid{% endif %}" 
                                placeholder="Password" 
                                autocomplete="current-password" 
                                id="id_password1" 
                                name="password1" 
                                required="" 
                                type="password" /> 
                            </div>
        
                            <div class="mb-3">
                                <input 
                                class="form-control {% if register_form.password2.errors %}is-invalid{% endif %}" 
                                placeholder="Confirm Password" 
                                autocomplete="current-password" 
                                id="id_password2" 
                                name="password2" 
                                required="" 
                                type="password" />
                                <div class="invalid-feedback">
                                    {{ register_form.password2.errors }}
                                </div>
                            </div>
                            <input 
                            class="btn btn-primary my-auto" 
                            style="width: 100px;" 
                            id="register-btn" 
                            type="submit" 
                            name="submit" 
                            value="Sign Up" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/bootstrap.5.2.0.b1.bundle.min.js' %}"></script>
    <script src="{% static 'js/switch.js' %}"></script>
</body>
</html>
