<!-- Toasts -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1000;">

    <!-- Image added toast -->
    <div id="imageAddToast" class="toast hide bg-light" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        <strong class="me-auto">Quicktures</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Image added!
        </div>
    </div>


    <!-- Image URL copied toast -->
    <div id="imageCopyToast" class="toast hide bg-light" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
        <strong class="me-auto">Quicktures</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            URL copied to clipboard!
        </div>
    </div>

    <!-- Image delete toast -->
    <div id="imageDeleteToast" class="toast hide bg-light" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
        <strong class="me-auto">Quicktures</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Image deleted!
        </div>
    </div>
</div>

<!-- If images not found -->
<script type="text/javascript">
$( document ).ready(function() {
    $(".img-block").on("error", function(){
        $(this).attr('src', '{% static "img/error.svg" %}')
    })
})
</script>
